
.bookPage{
    padding-top: 2rem;
    display: flex;
    align-items: center;    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;  
}

.bookPageContainer{
    margin-left: 2rem;
    position: static;
    background-color: #f3f3f3;;
    color: black;
    padding: 2rem 2rem 6rem 2rem;
    width: 18rem;
    text-align: justify;
}

.numberPage{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}


